@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Hide the Google Translate header */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

#hero {
  min-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 25%;
}


#lashplogo {
  max-height: 100px;
  width: auto;
  object-fit: contain;
}


body {
  top: 0px !important;
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
}